@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500');
@import 'variables';

body {
  font-family: $body-font;
  font-weight: 400;
  font-size: 10px;
  color: $black;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
