// =================
// TYPOGRAPHY
// =================

$display-font: 'Bungee Shade', cursive;
$header-font: 'Bungee Shade', cursive;
$body-font: 'Maven Pro', 'Helvetica', 'TrebuchetMS', 'Arial', sans-serif;


// =================
// COLORS
// =================

$dark-blue: #2b2d42;
$light-gray: #edf2f4;
$white: #fff;
$red: #ef233c;
