// =================
// TYPOGRAPHY
// =================

$display-font: 'Bungee Shade', cursive;
$header-font: 'Bungee Shade', cursive;
$body-font: monospace;


// =================
// COLORS
// =================

$black: #080808;

$dark-purple: #3d1097;
$light-blue: #77ccf3;
$purple: #8436a8;
$orange: #fa811d;
$red: #c20e26;
$yellow: #f1e204;
$green: #117a22;
$dark-blue: #203aac;
