// =================
// TYPOGRAPHY
// =================

$display-font: 'Bungee Shade', cursive;
$header-font: 'Bungee Shade', cursive;
$body-font: 'Oswald', sans-serif;


// =================
// COLORS
// =================

$black: #080808;
$brown: #640303;
$board: #fafaf8;

$dark-purple: #5e3577;
$light-blue: #d2eaf5;
$purple: #b02f7c;
$orange: #fa811d;
$red: #f50c2b;
$yellow: #ffed20;
$green: #41994e;
$dark-blue: #5a6dba;
