body {
	margin: 0;
}

.board {
	display: grid;
	margin: 0 auto;
	grid-template-columns: 125px repeat(9, 80px) 125px;
	grid-template-rows: 125px repeat(9, 80px) 125px;
	grid-gap: 5px;
}

.board > div {
	background: coral;
	padding: 20px;
}

.go {
	grid-column: 11;
	grid-row: 11 / 12;
}

.jail {
	grid-column: 1;
	grid-row: 11 / 12;
}

.free-parking {
	grid-column: 1;
	grid-row: 1 / 2;
}

.go-to-jail {
	grid-column: 11;
	grid-row: 1 / 1;
}