@import "normalize";
@import "typography";
@import "variables";

// =================
// GLOBAL
// =================

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}


// Property colors

.dark-purple { background: $dark-purple; }
.light-blue  { background: $light-blue; }
.purple      { background: $purple; }
.orange      { background: $orange; }
.red         { background: $red; }
.yellow      { background: $yellow; }
.green       { background: $green; }
.dark-blue   { background: $dark-blue; }


// =================
// LAYOUT
// =================

// Board

.board {
	display: grid;
	margin: 0 auto;
	border: 2px solid $black;
	background: $black;
	grid-template-columns: 125px repeat(9, 80px) 125px;
	grid-template-rows: 125px repeat(9, 80px) 125px;
	grid-gap: 2px;
}

.center {
	grid-column: 2 / 11;
	grid-row: 2 / 11;
	background: $board;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(7, 1fr);
	justify-items: center;
	align-items: center;
}

.title {
	grid-column: 1 / 9;
	grid-row: 4;
	font-size: 90px;
	font-weight: 400;
	letter-spacing: 12px;
}

.community-chest-deck {
	grid-column: 2 / 4;
	grid-row: 2 / 4;
	transform: rotate(135deg);
	margin-bottom: 60px;
	margin-right: 60px;
}

.chance-deck {
	grid-column: 5 / 7;
	grid-row: 5 / 7;
	transform: rotate(315deg);
	margin-top: 60px;
	margin-left: 60px;
}

.label {
	text-align: center;
	font-weight: 500;
	letter-spacing: 3px;
	padding-bottom: 10px;
}

.deck {
	border: 2px dashed $black;
	width: 160px;
	height: 120px;
}


// Rows of spaces

.row {
	display: grid;
	grid-gap: 2px;
}

.horizontal-row {
	grid-template-columns: repeat(9, 80px);
	grid-template-rows: 125px;
}

.vertical-row {
	grid-template-columns: 125px;
	grid-template-rows: repeat(9, 80px);

	.container {
		top: 50%;
		left: 50%;
	}
}

.bottom-row {
	grid-column: 2 / 11;
	grid-row: 11;
}

.left-row {
	grid-column: 1;
	grid-row: 2 / 11;

	.container {
		transform: translate(-50%, -50%) rotate(90deg);
	}
}

.top-row {
	grid-column: 2 / 11;
	grid-row: 1;

	.container {
		transform: rotate(180deg);
	}
}

.right-row {
	grid-column: 11;
	grid-row: 2 / 11;

	.container {
		transform: translate(-50%, -50%) rotate(270deg);
	}
}


// =================
// SPACES
// =================

// Types of spaces

.space {
	background: $board;
	text-align: center;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		transform-origin: center;
		height: 125px;
		width: 80px;
	}

	.name,
	.instructions {
		padding-left: 15px;
		padding-right: 15px;
	}

	.price {
		font-size: 7px;
		font-weight: 400;
		padding-bottom: 5px;
	}
}

.corner {
	.container {
		justify-content: space-around;
		height: 100%;
		width: 100%;
	}

	.name {
		padding: 0;
	}
}

.property {
	.color-bar {
		height: 25px;
		border-bottom: 2px solid $black;
	}

	.name {
		padding-bottom: 50px;
	}
}

.railroad {
	.name {
		padding-top: 10px;
	}

	.drawing {
		font-size: 60px;
		color: $black;
	}
}

.utility {
	.name {
		padding-top: 10px;
	}

	.drawing {
		font-size: 70px;
	}
}

.fee {
	.name {
		padding-top: 10px;
		font-size: 14px;
	}

	.instructions {
		font-size: 10px;
	}
}


// Specific spaces

.go {
	grid-column: 11;
	grid-row: 11 / 12;
	position: relative;

	.container {
		justify-content: flex-start;
		transform: rotate(315deg);
	}

	.instructions {
		padding: 0 30px;
	}

	.go-word {
		font-size: 60px;
		color: $red;
	}

	.arrow {
		font-size: 45px;
		color: $red;
		position: absolute;
		bottom: -10px;
		left: 5px;
	}
}

.jail {
	grid-column: 1;
	grid-row: 11 / 12;
	display: grid;
	grid-template-columns: repeat(10, 12.5px);
	grid-template-rows: repeat(10, 12.5px);
	justify-content: center;
	align-items: center;

	.drawing {
		grid-column: 4 / 11;
		grid-row: 1 / 8;
		width: 87.5px;
		height: 87.5px;
		background: $orange;
		border-bottom: 2px solid $black;
		border-left: 2px solid $black;
	}

	.just {
		grid-column: 3;
		grid-row: 4;
		transform: rotate(90deg);
		padding-top: 5px;
	}

	.visiting {
		grid-column: 6;
		grid-row: 8;
		padding-top: 5px;
	}

	.container {
		align-items: center;
		transform: rotate(45deg);
	}

	.window {
		display: flex;
		justify-content: space-around;
    align-items: center;
		position: relative;
		width: 55px;
		height: 55px;
		background: $board;
		border: 2px solid $black;
	}

	.person {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		font-size: 40px;
	}

	.bar {
		height: 55px;
		width: 2px;
		background: $black;
	}
}

.free-parking {
	grid-column: 1;
	grid-row: 1 / 2;

	.container {
		justify-content: center;
		transform: rotate(135deg);
	}

	.name {
		font-size: 16px;
	}

	.drawing {
		font-size: 60px;
		color: $red;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.go-to-jail {
	grid-column: 11;
	grid-row: 1 / 1;

	.container {
		justify-content: center;
		transform: rotate(225deg);
	}

	.name {
		font-size: 16px;
	}

	.drawing {
		font-size: 60px;
		color: $brown;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.chance {
	.container {
		justify-content: center;
	}

	.drawing {
		font-size: 90px;
		color: $red;
	}

	.blue {
		color: $dark-blue;
	}
}

.community-chest {
	.container {
		justify-content: space-around;
	}

	.drawing {
		font-size: 50px;
		color: $light-blue;
	}

	.instructions {
		font-size: 8px;
	}
}

.electric-company {
	.drawing {
		color: $yellow;
	}
}

.waterworks {
	.drawing {
		color: $dark-blue;
	}
}

.income-tax {
	.container {
		justify-content: center;
		align-items: center;
	}

	.name {
		padding-bottom: 5px;
	}

	.diamond {
		width: 5px;
		height: 5px;
		background: $black;
		transform: rotate(45deg);
		display: inline-block
	}

	.instructions {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.luxury-tax {
	.drawing {
		font-size: 50px;
	}

	.instructions {
		padding-bottom: 5px;
	}
}


// =================
// UTILITY
// =================

.long-name {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.three-line-name {
	position: relative;
	top: 5px;
}