* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.board {
	display: grid;
	margin: 0 auto;
	grid-template-columns: 125px repeat(9, 80px) 125px;
	grid-template-rows: 125px repeat(9, 80px) 125px;
	grid-gap: 5px;
	// background: black;
}

.space {
	background: rgb(248, 248, 242);
	// border: 3px solid black;
	padding: 5px;
}

.go {
	grid-column: 11;
	grid-row: 11 / 12;
}

.jail {
	grid-column: 1;
	grid-row: 11 / 12;
}

.free-parking {
	grid-column: 1;
	grid-row: 1 / 2;
}

.go-to-jail {
	grid-column: 11;
	grid-row: 1 / 1;
}

.row {
	display: grid;
	grid-gap: 5px;
}

.horizontal-row {
	grid-template-columns: repeat(9, 80px);
	grid-template-rows: 125px;
}

.vertical-row {
	grid-template-columns: 125px;
	grid-template-rows: repeat(9, 80px);
}

.bottom-row {
	grid-column: 2 / 11;
	grid-row: 11;
}

.left-row {
	grid-column: 1;
	grid-row: 2 / 11;
}

.top-row {
	grid-column: 2 / 11;
	grid-row: 1;
}

.right-row {
	grid-column: 11;
	grid-row: 2 / 11;
}