@import "normalize";
@import "typography";
@import "variables";


* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.board {
	display: grid;
	margin: 0 auto;
	grid-template-columns: 125px repeat(9, 80px) 125px;
	grid-template-rows: 125px repeat(9, 80px) 125px;
	grid-gap: 5px;
	// background: black;
}

.space {
	background: rgb(248, 248, 242);
	text-align: center;
	// border: 3px solid black;
}

.go {
	grid-column: 11;
	grid-row: 11 / 12;
}

.jail {
	grid-column: 1;
	grid-row: 11 / 12;
}

.free-parking {
	grid-column: 1;
	grid-row: 1 / 2;
}

.go-to-jail {
	grid-column: 11;
	grid-row: 1 / 1;
}

.property {
	display: flex;
	justify-content: space-between;

	.name,
	.price {
		transform-origin: center;
	}
}

.row {
	display: grid;
	grid-gap: 5px;
}

.horizontal-row {
	grid-template-columns: repeat(9, 80px);
	grid-template-rows: 125px;

	.property {
		flex-direction: column;
	}

	.color-bar {
		height: 25px;
	}
}

.vertical-row {
	grid-template-columns: 125px;
	grid-template-rows: repeat(9, 80px);

	.color-bar {
		width: 25px;
	}
}

.bottom-row {
	grid-column: 2 / 11;
	grid-row: 11;
}

.left-row {
	grid-column: 1;
	grid-row: 2 / 11;

	.property {
		flex-direction: row-reverse;
	}

	.name,
	.price {
		transform: rotate(90deg);
	}
}

.top-row {
	grid-column: 2 / 11;
	grid-row: 1;

	.property {
		flex-direction: column-reverse;
	}

	.name,
	.price {
		transform: rotate(180deg);
	}
}

.right-row {
	grid-column: 11;
	grid-row: 2 / 11;

	.name,
	.price {
		transform: rotate(270deg);
	}
}


.dark-purple { background: $dark-purple; }
.light-blue  { background: $light-blue; }
.purple      { background: $purple; }
.orange      { background: $orange; }
.red         { background: $red; }
.yellow      { background: $yellow; }
.green       { background: $green; }
.dark-blue   { background: $dark-blue; }